<div class="search-bar form-inline">
  <input class="form-control" type="text" ng-model="$ctrl.searchInput" ng-change="$ctrl.liveSearch()"/>
  <button ng-click="$ctrl.search()" class="btn">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <button ng-click="$ctrl.changePages('Left')" class="btn">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </button>
  <button ng-click="$ctrl.changePages('Right')" class="btn">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>
